.photo-grid {
  display: grid;
  max-width: 1184px;
  padding: 92px 48px 0;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
