.cover {
  max-width: 1184px;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  aspect-ratio: 8 / 5;
}
