.cover__background {
  max-width: 1184px;
  width: 100%;
  /* aspect-ratio: 8 / 5; */
  position: absolute;
  /* top: 92px; */
  /* left: 48px; */
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 0.3;
}
